<h1 mat-dialog-title>
  Add product form
</h1>
<div>
  <mat-form-field appearance="outline">
    <mat-label>Product name</mat-label>
    <input matInput placeholder="Please enter the name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product category</mat-label>
    <mat-select placeholder="Please select category">
      <mat-option value="fruits">Fruits</mat-option>
      <mat-option value="electronics">Electronics</mat-option>
      <mat-option value="vegetables">Vegetables</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <label id="radio-group-freshness">
    <h1>Product Freshness</h1>
  </label>
  <mat-radio-group class="freshness-group" aria-labelledby="radio-group-freshness">
    <ng-container *ngFor="let freshItem of freshnessList">
      <mat-radio-button [value]="freshItem">
        {{ freshItem }}
      </mat-radio-button>
    </ng-container>
  </mat-radio-group>
  <mat-form-field appearance="outline">
    <mat-label>Product price</mat-label>
    <input matInput type="number" placeholder="Please enter the price">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea matInput type="number" placeholder="Please add the comment"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" [mat-dialog-close]="">
    Close
  </button>
  <button mat-raised-button color="primary">
    Save
  </button>
</div>
